[project]
	description = A collection of code snippets packaged as NuGet source code packages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shayne van Asperen (shaynevanasperen)
[access "refs/for/refs/*"]
	read = group user/Shayne van Asperen (shaynevanasperen)
	push = group user/Shayne van Asperen (shaynevanasperen)
	label-Code-Review = -2..+2 group user/Shayne van Asperen (shaynevanasperen)
	label-Verified = -1..+1 group user/Shayne van Asperen (shaynevanasperen)
	rebase = group user/Shayne van Asperen (shaynevanasperen)
	removeReviewer = group user/Shayne van Asperen (shaynevanasperen)
	submit = group user/Shayne van Asperen (shaynevanasperen)
[access "refs/heads/*"]
	read = group user/Shayne van Asperen (shaynevanasperen)
	create = group user/Shayne van Asperen (shaynevanasperen)
	push = +force group user/Shayne van Asperen (shaynevanasperen)
	pushMerge = group user/Shayne van Asperen (shaynevanasperen)
[access "refs/tags/*"]
	push = +force group user/Shayne van Asperen (shaynevanasperen)
	pushTag = group user/Shayne van Asperen (shaynevanasperen)
	pushSignedTag = group user/Shayne van Asperen (shaynevanasperen)
